header {
    @apply relative
    md:flex md:items-center md:justify-between
    bg-red-700 text-white;
}
header div {
    @apply ml-10 md:ml-0;
}
header h1 {
    @apply text-xl font-bold p-4
    md:text-2xl
    ;
}
header nav {
    @apply absolute top-full left-0 w-full min-h-0 h-0 overflow-hidden bg-red-700
    md:relative md:w-auto md:min-h-auto md:h-auto md:overflow-visible
    ;
    transition: min-height 0.3s ease-in-out;
}
header nav.open {
    @apply absolute top-full left-0 w-full min-h-screen h-auto overflow-hidden
    md:relative md:w-auto md:min-h-auto md:h-auto md:overflow-visible
    ;
}
header nav ul {
    @apply flex flex-col
    md:flex-row md:items-center md:gap-4
    ;
}
header nav ul li a {
    @apply block px-4 py-2 border-b-1 cursor-pointer
    md:inline-block md:border-none
    ;
}

header .btnHamburger {
    @apply block absolute top-4 left-0 w-10 h-10
    flex flex-col gap-1 p-1
    md:hidden;
}

header .btnHamburger span {
    @apply w-full h-1 bg-white;
}