.pokemonHolder{
    @apply p-4 flex flex-col flex-wrap md:flex-row gap-4 mx-auto max-w-5xl justify-center;
}

.pokemonHolder section{
    @apply w-full sm:w-48 flex items-center border shadow;
}

.pokemonHolder section img {
    @apply w-16 h-16 object-cover;
}

.pokemonHolder section div {
    @apply flex-1 flex flex-col justify-between p-2 items-center;
}

.pokemonHolder section div strong {
    @apply py-4;
}

.pokemonHolder section div button {
    @apply py-2 px-4 rounded-2xl border bg-red-700 text-white;
}